# NUMPY

In [1]:
import numpy as np

In [20]:
x = np.array([1,2,3,5])
print(x)
print(x.shape)
print(x.ndim)
print(x.dtype)
print("\t 4 shows there are 4 columns")
print("Its a vector")

[1 2 3 5]
(4,)
1
int32
	 4 shows there are 4 columns
Its a vector

In [21]:
x = np.array([[1,2,3,5]])
print(x)
print(x.shape)
print(x.ndim)
print("\t 1,4 shows there are 4 columns and 1 row")
print("Its a 2d Matrix")

[[1 2 3 5]]
(1, 4)
2
	 1,4 shows there are 4 columns and 1 row
Its a 2d Matrix

In [28]:
arr = np.arange(45).reshape(5,9)
print(arr)
arr2 = np.arange(45).reshape(15,3)
print(arr2)
arr3 = np.arange(45).reshape(3,15)
print(arr3)

[[ 0  1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16 17]
 [18 19 20 21 22 23 24 25 26]
 [27 28 29 30 31 32 33 34 35]
 [36 37 38 39 40 41 42 43 44]]
[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]
 [12 13 14]
 [15 16 17]
 [18 19 20]
 [21 22 23]
 [24 25 26]
 [27 28 29]
 [30 31 32]
 [33 34 35]
 [36 37 38]
 [39 40 41]
 [42 43 44]]
[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
 [15 16 17 18 19 20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39 40 41 42 43 44]]

In [29]:
arr = np.arange(45).reshape(5,9).astype('float')
arr.astype('float')
x = np.array([1,2,3,4], dtype = 'float')
print(arr)
print(x)

[[ 0.  1.  2.  3.  4.  5.  6.  7.  8.]
 [ 9. 10. 11. 12. 13. 14. 15. 16. 17.]
 [18. 19. 20. 21. 22. 23. 24. 25. 26.]
 [27. 28. 29. 30. 31. 32. 33. 34. 35.]
 [36. 37. 38. 39. 40. 41. 42. 43. 44.]]
[1. 2. 3. 4.]

In [34]:
arr = np.arange(12).reshape(3,4)             #row column
print(arr)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [35]:
arr = np.arange(60).reshape(3,4,5)            #depth,row,column
print(arr)                                    #each depth is also called stack

[[[ 0  1  2  3  4]
  [ 5  6  7  8  9]
  [10 11 12 13 14]
  [15 16 17 18 19]]

 [[20 21 22 23 24]
  [25 26 27 28 29]
  [30 31 32 33 34]
  [35 36 37 38 39]]

 [[40 41 42 43 44]
  [45 46 47 48 49]
  [50 51 52 53 54]
  [55 56 57 58 59]]]

In [42]:
arr[0:2]

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]]])

In [44]:
arr2[0][0:6:2]

array([0, 2])

In [46]:
b = np.arange(24).reshape(6,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [81]:
#             b[start:end,start,end]      b[row,col]
#   if we want to slice 9 and 10
print(" if we want to slice 9 and 10 ")
print(b[2:3,1:3])

print("\n if we want to slice 9, 10, 13 and 14 ")
print(b[2:4,1:3])
print("\n if we wanrt to get 18")
print(b[4:5,2:3])
print(b[4:5,2:3].ndim,"        Dimensions")
print(b[4:5,2:3].shape, "   Shape")
print(b[4,2])       #this is not a matrix but only a scalar quantity

 if we want to slice 9 and 10
[[ 9 10]]

 if we want to slice 9, 10, 13 and 14
[[ 9 10]
 [13 14]]

 if we wanrt to get 18
[[18]]
2         Dimensions
(1, 1)    Shape
18

##  Array 3d

In [82]:
arr_3d = np.arange(27).reshape(3,3,3)
arr_3d

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [86]:
print("if we want to extract 13 and 16")
print(arr_3d[1:2,1:3,1:2])

if we want to extract 13 and 16
[[[13]
  [16]]]

In [96]:
assignment = np.arange(75).reshape(5,3,5)
assignment

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14]],

       [[15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29]],

       [[30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44]],

       [[45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59]],

       [[60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69],
        [70, 71, 72, 73, 74]]])

In [94]:
print("if we want to extract 38 39 42 44")
print(assignment[2:3,1:,3:])

if we want to extract 38 39 42 44
[[[38 39]
  [43 44]]]

In [97]:
print("if we want to replace 57 with 100")
assignment[3:4,2:,2:3] = 100
assignment

if we want to replace 57 with 100

array([[[  0,   1,   2,   3,   4],
        [  5,   6,   7,   8,   9],
        [ 10,  11,  12,  13,  14]],

       [[ 15,  16,  17,  18,  19],
        [ 20,  21,  22,  23,  24],
        [ 25,  26,  27,  28,  29]],

       [[ 30,  31,  32,  33,  34],
        [ 35,  36,  37,  38,  39],
        [ 40,  41,  42,  43,  44]],

       [[ 45,  46,  47,  48,  49],
        [ 50,  51,  52,  53,  54],
        [ 55,  56, 100,  58,  59]],

       [[ 60,  61,  62,  63,  64],
        [ 65,  66,  67,  68,  69],
        [ 70,  71,  72,  73,  74]]])

# Exercise

Create a uniform subdivision of the interval -1.3 to 2.5 with 64 divisions

In [113]:
array_uniform = np.linspace(-1.3,2.5,64)
print(array_uniform)
array_uni = np.arange(-1.23,2.5,(1.3+2.5)/64)
array_uni

[-1.3        -1.23968254 -1.17936508 -1.11904762 -1.05873016 -0.9984127
 -0.93809524 -0.87777778 -0.81746032 -0.75714286 -0.6968254  -0.63650794
 -0.57619048 -0.51587302 -0.45555556 -0.3952381  -0.33492063 -0.27460317
 -0.21428571 -0.15396825 -0.09365079 -0.03333333  0.02698413  0.08730159
  0.14761905  0.20793651  0.26825397  0.32857143  0.38888889  0.44920635
  0.50952381  0.56984127  0.63015873  0.69047619  0.75079365  0.81111111
  0.87142857  0.93174603  0.99206349  1.05238095  1.11269841  1.17301587
  1.23333333  1.29365079  1.35396825  1.41428571  1.47460317  1.53492063
  1.5952381   1.65555556  1.71587302  1.77619048  1.83650794  1.8968254
  1.95714286  2.01746032  2.07777778  2.13809524  2.1984127   2.25873016
  2.31904762  2.37936508  2.43968254  2.5       ]

array([-1.23    , -1.170625, -1.11125 , -1.051875, -0.9925  , -0.933125,
       -0.87375 , -0.814375, -0.755   , -0.695625, -0.63625 , -0.576875,
       -0.5175  , -0.458125, -0.39875 , -0.339375, -0.28    , -0.220625,
       -0.16125 , -0.101875, -0.0425  ,  0.016875,  0.07625 ,  0.135625,
        0.195   ,  0.254375,  0.31375 ,  0.373125,  0.4325  ,  0.491875,
        0.55125 ,  0.610625,  0.67    ,  0.729375,  0.78875 ,  0.848125,
        0.9075  ,  0.966875,  1.02625 ,  1.085625,  1.145   ,  1.204375,
        1.26375 ,  1.323125,  1.3825  ,  1.441875,  1.50125 ,  1.560625,
        1.62    ,  1.679375,  1.73875 ,  1.798125,  1.8575  ,  1.916875,
        1.97625 ,  2.035625,  2.095   ,  2.154375,  2.21375 ,  2.273125,
        2.3325  ,  2.391875,  2.45125 ])

In [116]:
#       (b-a)/(n-1)
#      (50-1)/(6-1)
np.arange(1,51,9.8)

array([ 1. , 10.8, 20.6, 30.4, 40.2, 50. ])

In [115]:
np.linspace(1,50,6)

array([ 1. , 10.8, 20.6, 30.4, 40.2, 50. ])

Array of first 10 odd ingtegers

In [117]:
print(np.arange(1,20,2))

[ 1  3  5  7  9 11 13 15 17 19]

Create 10x10 matrix of zeros and then "frame" it with a border of ones