In [1]:
x = ('a','b')

Dictionary practice

-------------------------------------------------------------------------------------

In [3]:
name =input("Name: ")
age=input("Age:")
uni = input("University")

details = {"Name is: ":name,"Age is: ":age,"University is: ":uni}
details["Name is: "]

Name: 12
Age:324
University64

'12'

# List advance

url= docs.python.org/ /tutorial/datastructures.html

In [4]:
num= [2,1,3,2,1,4,9]
num.sort()
num

[1, 1, 2, 2, 3, 4, 9]

In [8]:
num1 = [4,3,2,2,3,2,4,2,1,3,4]
num2 = sorted(num1)
num2

[1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4]

In [10]:
fruits = ['apple','banana','grapes','banana','pear']
fruits.reverse()
fruits

['pear', 'banana', 'grapes', 'banana', 'apple']

In [11]:
mixfruits = [1,'apple','banana','grapes','banana','pear']
mixfruits.reverse()
mixfruits

['pear', 'banana', 'grapes', 'banana', 'apple', 1]

In [16]:
mixfruits.count('banana')

2

For Queue,import deque library

In [18]:
from collections import deque

In [19]:
q = deque(['Ali','Ahmed'])

In [20]:
q

deque(['Ali', 'Ahmed'])

In [21]:
q.append('aa')

In [22]:
q

deque(['Ali', 'Ahmed', 'aa'])

In [25]:
s = []
for x in range(10):
    s.append(x**2)
    
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
x**2

81

In [33]:
s = [x**2 for x in range(10)]

In [34]:
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
comb = []
for x in range(2):
    for y in range(5):
        if x != y:
            comb.append((x,y))
            
comb

[(0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 2), (1, 3), (1, 4)]

In [49]:
#to make list in single line:
#who will be the member
#loops
#condition

In [51]:
lista = [(x,y) for x in range(2) for y in range(5) if x!=y]

In [52]:
lista

[(0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 2), (1, 3), (1, 4)]

In [54]:
a = [1,2,-2,-3,2]
[abs(x) for x in a]

[1, 2, 2, 3, 2]

# There can be tuple inside a tuple

--------------------------------

if one variable is given multiple values, it automatically becomes a tuple

In [55]:
t = 'hello', 5 , 'Become someone'
t

('hello', 5, 'Become someone')

Tuples are immutable


# list can be inside a tuple

In [56]:
t = ([12,324,2343],(1,2,3,))
t[0]

[12, 324, 2343]

In [59]:
t[1] = 12

TypeError: 'tuple' object does not support item assignment

In [60]:
t[1][1] = 1213

TypeError: 'tuple' object does not support item assignment

In [63]:
t[0][0] = 1212
t
#values changes inside a list inside a tuple

([1212, 324, 2343], (1, 2, 3))

to put values inside a tuple is called packing

to assign values of tuple to variables is called unpacking

In [66]:
a =(1,2,3,4)
w,x,y,z = a
w

1

What if extra variable variable is given

In [67]:
v,w,x,y,z = a
#ValueError: not enough values to unpack (expected 5, got 4)

ValueError: not enough values to unpack (expected 5, got 4)

# sets

no repeteting value