<h3> Generate a mathematical table

In [34]:
l = [(a , 'x' , b , '=' , a*b) for a in range(2,5) for b in range(1,11)]
l

[(2, 'x', 1, '=', 2),
 (2, 'x', 2, '=', 4),
 (2, 'x', 3, '=', 6),
 (2, 'x', 4, '=', 8),
 (2, 'x', 5, '=', 10),
 (2, 'x', 6, '=', 12),
 (2, 'x', 7, '=', 14),
 (2, 'x', 8, '=', 16),
 (2, 'x', 9, '=', 18),
 (2, 'x', 10, '=', 20),
 (3, 'x', 1, '=', 3),
 (3, 'x', 2, '=', 6),
 (3, 'x', 3, '=', 9),
 (3, 'x', 4, '=', 12),
 (3, 'x', 5, '=', 15),
 (3, 'x', 6, '=', 18),
 (3, 'x', 7, '=', 21),
 (3, 'x', 8, '=', 24),
 (3, 'x', 9, '=', 27),
 (3, 'x', 10, '=', 30),
 (4, 'x', 1, '=', 4),
 (4, 'x', 2, '=', 8),
 (4, 'x', 3, '=', 12),
 (4, 'x', 4, '=', 16),
 (4, 'x', 5, '=', 20),
 (4, 'x', 6, '=', 24),
 (4, 'x', 7, '=', 28),
 (4, 'x', 8, '=', 32),
 (4, 'x', 9, '=', 36),
 (4, 'x', 10, '=', 40)]

In [36]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ", "Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name) 
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [37]:
num = input("Enter Number: ")
num = float(num)
sum = num +10
sum

Enter Number: 13

23.0

In [38]:
sum = float(input("Enter Number: ")) + 10
sum

Enter Number: 13

23.0

<h1> Dictionaries

its value is placed \ith the key
\e pass the key and value is retrieved

In [44]:
dic = {"Name":"Muhammad","Age":"asf"}

In [45]:
dic

{'Name': 'Muhammad', 'Age': 'asf'}

In [49]:
dic["Age"]

'asf'

Today, data is stored in Dictionary format, so learn it by heart